p Usefulness: 
	strong Good: 
	{{data.votes.Usefulness[0]}}
	strong Bad: 
	{{data.votes.Usefulness[1]}}
p Expectations: 
	strong Good: 
	{{data.votes.Expectations[0]}}
	strong Bad: 
	{{data.votes.Expectations[1]}}
p Experience: 
	strong Good: 
	{{data.votes.Experience[0]}}
	strong Bad: 
	{{data.votes.Experience[1]}}
p Whatever:
	{{data.votes.Whatever}}

