body {
	background-color: #1C2C54;
}

.container {
	max-width: 988px;
	margin: 0 auto;
	
}

chart-data {
	padding: 65px;
}

.container h1, h2, h3, h4, h5, h6, p {
	color: #E4DDDD;
}

.current-question {
	color: rgb(17, 102, 255);
  	font-size: 55px;
}

.sprint {
	margin-bottom: -20px;
}

form button.submit-vote {
	width: 100%;
  font-size: 24px;
}

ul.messages-list li {
	list-style: none;
	font-size: 24px;
	color: #E4DDDD;
}


.comment-input {
	padding:20px;

}

.comment-input input {
	width: 500px;
  	font-size: 20px;
}

/* Checkbox styles */
input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:35px;
	height:30px; 
	display:block;
	line-height:30px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:20px;
	vertical-align:middle;
	cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -30px;
}
label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_4b2d86788a4070fb5cd10ff407a4ed28.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #E4DDDD;
}

.vote-checkbox {
	margin: 2px;
	padding: 3px;
}

.vote-checkbox.positive label {
	color: rgb(69, 173, 63);
}

.vote-checkbox.negative label {
	color: rgb(162, 19, 28);
}


/* animate question text */

.animate-question-enter { 
    -webkit-animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: enter 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    display: block;
    position: relative;
} 
@-webkit-keyframes enter {
    from {
        opacity: 0;
        height: 0px;
    }
    20% {
        opacity: .5;
    }
    40% {
        opacity: .15;        
        color: red;            }
    60% {
        opacity: .75;        
    }
    80% {
        opacity: .3;        
    }
    to {
        opacity: 1;
        height: 30px;
    }
}
@keyframes enter {
    from {
        opacity: 0;
        height: 0px;
    }
    20% {
        opacity: .5;
    }
    40% {
        opacity: .15;        
        color: red;            }
    60% {
        opacity: .75;        
    }
    80% {
        opacity: .3;        
    }
    to {
        opacity: 1;
        height: 30px;
    }
}
 
.animate-question-leave { 
    -webkit-animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    animation: leave 600ms cubic-bezier(0.390, 0.575, 0.565, 1.000);
    display: block;
    position: relative;
} 
@-webkit-keyframes leave {
    to {
        opacity: 0;
        height: 0px;
    }
    80% {
        opacity: .25;
    }
    60% {
        opacity: .10;        
        color: red;            }
    40% {
        opacity: .5;        
    }
    20% {
        opacity: .30;        
    }
    from {
        opacity: 1;
        height: 30px;
    }
}
@keyframes leave {
    to {
        opacity: 0;
        height: 0px;
    }
    80% {
        opacity: .25;
    }
    60% {
        opacity: .10;        
        color: red;            }
    40% {
        opacity: .5;        
    }
    20% {
        opacity: .30;        
    }
    from {
        opacity: 1;
        height: 30px;
    }
}
